.hide-group {
  padding: 25px;
  width: 110px;
}

.hide-box {
  border: 1px solid;
  width: 50px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  color: #bebec1;
  text-transform: uppercase;
  font-size: 10px;
}

.hide-box:hover {
  cursor: pointer;
  color: #9d9da0;
}

.hide-box svg {
  padding: 2px 2px 0 0;
}
