:root {
  --primaryFont: "Source Sans Pro", sans-serif;
}

.navbar {
  background-color: white;
  background-image: linear-gradient(0deg, #e8e7e7, white, white, white);
  height: 90px;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 120px 120px 220px auto;
  height: 90px;
  padding: 10px 10px 10px 10px;
}

.grid-item {
  align-content: space-around;
  align-items: center;
}

.logo {
  height: 45px;
  padding: 10px 0 0 10px;
}

.logo img {
  height: 38px;
}

.recognition {
  font-family: var(--primaryFont);
  font-size: 13px;
  text-transform: uppercase;
  color: #529bd4;
  text-align: center;
  margin-left: 25px;
}

.left-menu {
  width: 45px;
  height: 40px;
  color: #c5c5c5;
  margin: 15px 20px 20px 20px;
}

.form {
  display: flex;
  flex-direction: row;
  padding: 15px 0 0 0;
}

.search-field {
  width: 300px;
  padding: 10px 35px 10px 15px;
  border: 1px solid;
  border-color: #a9aaad;
  border-radius: 100px;
  outline: none;
}

.search-field,
search-field ::placeholder {
  font: 5px/3;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -38px;
}

.search-button img {
  opacity: 0.5;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.search-button img:hover {
  opacity: 0.8;
}

.nav-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 100px 40px 90px 50px;
  grid-row: inherit;
  align-content: center;
  margin-left: 450px;
}

.grid-item-1 {
  justify-content: center;
  align-items: center;
}

.circle {
  background-color: #529bd4;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  margin: 0;
}

.circle:hover {
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 7px 0 0 7px;
  color: white;
}

.circle p {
  font-size: 13px;
  margin: 0 0 0 10px;
  padding: 7px 0 7px 3px;
}

.circle-black {
  background-color: #464646;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  margin: 0;
}

.circle-black:hover {
  cursor: pointer;
}

.header-name {
  font-family: var(--primaryFont);
  text-transform: uppercase;
  justify-content: center;
  align-content: center;
  padding: 10px 0 0 0;
}

.header-name a {
  color: #c5c5c5;
}

.header-name a:hover {
  color: #575656;
}

.arrow-down {
  width: 40px;
  height: 40px;
  color: #7e7c7c;
  padding: 11px 10px 10px 6px;
}

.arrow-down svg:hover {
  cursor: pointer;
  color: #575656;
}

.current-time {
  font-family: var(--primaryFont);
  text-transform: uppercase;
  color: #a6a6a6;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 0 0 0;
}

.right-menu {
  width: 40px;
  height: 40px;
}

.right-menu svg {
  width: 35px;
  height: 35px;
  color: #c5c5c5;
}

.right-menu svg:hover {
  cursor: pointer;
  color: #6b6a6a;
}
